@charset "utf-8";

.welcome-bg {
  width: 100%;
  height:100vh;
  background-image: url(https://res.cloudinary.com/djfom4ixj/image/upload/v1697520719/images/c12isduon8w92f43nhom.jpg);  
  background-position: center center; 
  background-repeat: no-repeat;  
  background-attachment: fixed; 
  background-size: cover;
 }

.liked {
    color: red;
}

.link {
     color: #3B82F6;
}

.link:hover {
      color: #1D4ED8;
}